h1{
color: yellowgreen;
font-family: 'Times New Roman', Times, serif; 
font-size: xx-large;
}
p{
color: violet;
}
body{
 background-color: chocolate;
}
#encabezado { 
    background-color: burlywood;
}

.tipoletra{
    font-size: large;
    color: cornflowerblue; 
    border: solid 3px;
    padding: 20px;
    margin: 0px;
    width: 50%; 
}
img{
    background-color: black;
    border-radius: 400px;
    border: solid 2px;
    padding: 20px;

}